* {
    margin: 0px;
    padding: 0px;
}

h2 {
    font-weight: bolder;
    text-align: center;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: rgba(255, 192, 203, 0.405);
    border: 2px solid black;
    width: 250px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

button {
    background-color: aqua;
    border-radius: 5px;
    width: 110px;
    position: relative;
    font-size: 16px;
    text-align: center;
    
}

.info {
    text-align: center;
    font-size: 20px;
}
